.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px; /* avoid hiding content behind navbar */
}

.scroll-container {
  height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  width: 80%;

  display: flex;
  flex-wrap: wrap; /* allow wrapping to next row */
  gap: 1rem;       /* space between items */
  padding: 1rem;
  justify-content: center; /* optional: center items horizontally */
}

.set {
  width: 308px;
  height: 65px;
  padding: 15px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 4px 16px 4px;
  font-size: 12px;
  align-content: center;
}

.set-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 308px;         /* Set your card width */
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis;  
}

.set-icon {
  width: 24px;
  height: 24px;
  filter: invert(1); /* Makes black icons white */
}

.set-name {
  color: white;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1{
    color: white;
    font-size: 64px;
    text-align: center;
    margin-top: 20px;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

